body,
html {
    height: 150%;
}

.page-content {
    background-image: url("images/pics/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 75%;
}

.navigation {
    background-image: url(images/pics/pizza1.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
}

.navigation-list {
    list-style-type: none;
    color: black;
}

.navigation-icon {
    display: block;
    color: black;
    padding: 30px;
}

.page {
    margin: auto;
    width: 70%;
    background-color: transparent;
    height: 95%;
    color: white;
}

.page-title {
    font-size: 100px;
    text-align: center;
    font-family: 'Style Script', cursive;
}

.contacts {
    height: 25%;
}

.social-media-icons {
    list-style-type: none;
    display: inline;
}

#page2 {
    display: none;
}