body,
html {
    height: 100%;
}

.page-content {
    background-image: url("images/pics/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

#page2 {
    display: none;
}