body,
html {
    height: fit-content;
}

.page-content {
    background-image: url("images/pics/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
}

.navigation {
    background-image: url(images/pics/pizza1.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
}

.navigation-list {
    list-style-type: none;
    color: black;
    width: 200px;
}

.navigation-icon {
    display: block;
    color: black;
    padding-bottom: 20px;
    margin-bottom: 40px;
    text-decoration: none;
}

.navigation-icon:hover {
    background-color: black;
    color: white;
}

.intro-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

#bon-appetit {
    font-family: 'Style Script', cursive;
    font-size: 30px;
}

.page {
    margin: auto;
    width: 70%;
    background-color: transparent;
    height: 95%;
    color: white;
}

.page-title {
    font-size: 100px;
    text-align: center;
    font-family: 'Style Script', cursive;
}

.container-fluid {
    position: relative;
}

.button-container {
    text-align: center;
}

#order-button:hover {
    background-color: black;
    color: white;
}

#order-button {
    font-family: 'Style Script', cursive;
    font-size: 50px;
}

.contacts {
    height: 25%;
}

.social-media-icons {
    list-style-type: none;
    display: inline;
}

#page2 {
    display: none;
    background-color: white;
}

#page2 .page-title {
    color: black;
    text-decoration: underline;
}

.pizza-images {
    width: fit-content;
    height: 200px;
    margin: 20px;
    background-color: white;
    color: black;
    text-align: center;
}

.image-section {
    margin: auto;
}

.menu-sections {
    margin: auto;
    width: fit-content;
    background-image: url(images/pics/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100;
}

.pizza-details {
    list-style-type: none;
    text-align: left;
}

.add-item {
    background-color: green;
}

.add-item:hover {
    background-color: black;
    color: white;
}

#page3 {
    display: none;
    color: black;
    background-color: grey;
    width: fit-content;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#pizza-choice {
    display: none;
}

.spec {
    margin: 10px;
}

#add-to-cart {
    background-color: green;
}

#page3-title {
    text-decoration: underline;
    font-family: 'Style Script', cursive;
}

.topage1 {
    float: left;
}

.cart {
    float: right;
    background-color: white;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    display: none;
}

#name-of-pizza {
    background-color: white;
}

#delivery-option {
    display: none;
}